
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;     
}

header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px; 
    padding-left: 70px; 
    background: #fefae0;
   
}

.first-section{
    display: flex;
    width: 300px;
    align-items: center;  
}

.first-section img{
    width: 125px;
    height: 48px;
    margin-right: 30px;    
}

.middle-section{
    flex: 1;
    max-width: 650px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
}

a{
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    color: #51752d;
    font-weight: 700;
    text-decoration: none;
}
 .middle-section a img{
    padding-left: 5px;
 }


 .dropdown{
    position: relative;
    display: inline-block;
 }

 .dropbtn{
    cursor: pointer;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    border: none;
    color: #51752d;
    font-weight: 700;
    background: #fefae0;
    padding: 16px;
    margin: 0;
 }
.Products:hover
.dropbtn, .dropbtn:focus{
    background-color: white;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(o, 0, 0, 0.2);
    z-index: 1;
 }

 .dropdown-content a{
    color: #51752d;
    font-family: 'Space Grotesk', sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
 }

.dropdown-content a:hover{
    background-color: #b76b26;
 }

 .dropdown:hover .dropdown-content{
    display: block;
 }

 .dropdown:hover .dropbtn {background-color: #fefae0;}

.right-section{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.login{
    background-color: #b76b26;
    border: none;
    border-radius: 5px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 13px;
    color: white;
    padding: 10px 30px;
    margin-left: 20px;
}

.register{
    background-color: #51752d;
    border: none;
    border-radius: 5px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 13px;
    color: white;
    padding: 10px 30px;
    margin: 0 40px 0 5px;
}


.image-container img{
    width: 100%;
    margin: 5px 0 40px 0;
    height: 380px;
    position: relative;
}

.image-container h2{
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    color: white;

    position: absolute;
    bottom: 35%;
    left: 5%;
}

.text-container h2{
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    color: #51752d;
    text-align: center;
}

.text-container p{
    font-size: 14px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    margin-left: 90px;
    width: 700px;
    text-align: justify;
}

hr{
    margin: 25px 70px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 40px;

    margin:  35px 0;
}
.first-container img{
    margin-left: 100px;
    width: 450px;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    margin-bottom: 150px ;
}


.second-container img{
    margin-left: 100px;
    width: 450px;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    margin-top: 190px;
}

.first-container h2{
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    color: #51752d;
    text-align: center;
}

.second-container h2{
    padding-top: 25px;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    color: #51752d;
    text-align: center;
}

.first-container p,
.second-container p{
    padding-left: 70px;
    font-size: 14px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    margin-left: 90px;
    width: 300px;
    text-align: justify;
}

footer{
    background: #000000;
    width: 100%;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

.farm-info{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    padding-top: 20px;
    
}
.first-segment{
    flex: 1;
    margin-left: 50px;
}

.farm-logo{
    width: 190px;
    height: 83px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.search-bar{
    height: 38px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    }
    .search-bar::placeholder{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

.subscribe{
    height: 40px;
    background-color: #517520;
    border: none;
    margin-left: -5px;
    margin-right: 10px;
    border-radius: 2px;
    color: white;
}

.social-media-icon{
    flex: 1;
    display: flex;  
    padding-left:10px;
}

.social-media-icon a img{
    width: 30px; 
    height: 30px; 
    margin-left: 20px;
    margin-right: 10px; 
}

.first-segment p{
    font-size: 20px; 
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

.products-features-first{
    padding-top: 50px;
     width: 250px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    
    

}
.products-features-second{
     padding-top: 50px;
     width: 250px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
  
}

.company{
     padding-top: 50px;
     width: 250px;
    align-items: center;
    justify-content: space-between;
    padding-right: 2px;
  
}

.products-features-first h3,
.products-features-second h3,
.company h3{
    font-size: 16px; 
    font-family: 'Space Grotesk', sans-serif;
}
.products-features-first ul,
.products-features-second ul,
.company ul
{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px; 
    list-style: none;
    padding-left: 5px;
    line-height: 25px;

}

.last-segment p{
    font-size: 12px; 
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 40px 0;
}